.gallery{
    grid-column: 1/ 7;
}
.gallery_section{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    grid-template-rows:repeat(3,280px);
    padding: 20px 50px;
    gap:1rem;
    grid-template-areas:
        "gallery_1 gallery_1 gallery_2"
        "gallery_3 gallery_4 gallery_2"
        "gallery_3 gallery_5 gallery_5" ;
}
.image_gallery{
    width: 100%;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.gallery_1{
    grid-area: gallery_1;
    background-image: url("../images/site_header.jpg");
}
.gallery_2{
    grid-area: gallery_2;
    background-image: url("../images/story_1.jpg");
}
.gallery_3{
    grid-area: gallery_3;
    background-image: url("../images/services_2.jpeg");
}
.gallery_4{
    grid-area: gallery_4;
    background-image: url("../images/story_2.jpg");
}
.gallery_5{
    grid-area: gallery_5;
    background-image: url("../images/services_5.jpeg");
}
@media screen and (max-width:1000px){
    .gallery_section{
        grid-template-areas:
            "gallery_1 gallery_1 gallery_2"
            "gallery_3 gallery_4 gallery_4"
            "gallery_5 gallery_5 gallery_5";
    }
}
@media screen and (max-width:600px){
    .gallery_section{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,280px);
        grid-template-areas: 
        "gallery_1 gallery_1"
        "gallery_3 gallery_2"
        "gallery_4 gallery_4"
        "gallery_5 gallery_5";
    }
}