.header{
    background-color:#1976D2 ;
    grid-column: 1/ 7;
    background-image: linear-gradient(to bottom,#3636364f,#212121), url("../images/site_header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    justify-content: center;
    align-content: center; 
    text-align: center;
    grid-gap:20px ;
}
.header_1{
    font-size: 30px;
    color: #ffffff;
    margin: 0;
}
.header_2{
    color: #ffffff;
    margin: 0;
}
.header_text{
    color: #FBC02D;
}
.header_button{
    padding: 20px 30px;
    color: #ffffff;
    border-radius:5px ;
    background-color: #FBC02D;
    border: none;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
    justify-self: center;

}
.header_button:hover{
    background-color: #ffffff;
    color: #FBC02D;
    transition: all 0.4s;
}
@media screen and (max-width:500px){
    .header{
        background-position-x: 10% ;
    }
}