:root{
    box-sizing: border-box;   
}
*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
}
.container{
    display: grid;
    grid-template-rows: 80vh repeat(5,max-content);
    grid-template-columns: repeat(6,1fr);
}
.section_title{
    margin: 5px auto;
    text-align: center;
    color: #FBC02D;
    padding: 28px;
    font-size: 2rem;
}
.section_title::before,
.section_title::after{
    background-color: rgb(100, 0, 57);
    content: "";
    display: inline-block;
    height: 1.5px;
    position: relative;
    vertical-align: middle;
    width: 5%;
}
.section_title::before{
    right: 0.5rem;
}
.section_title::after{
    left: 0.5rem;
}